@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>
    Este é um projeto para fins acadêmicos, criado por <i>Gabriel Luiz de Lacerda Araújo e Sérgio Rodrigues de Oliveira Junior</i> um sistema "simples" de um administração de um hotel. <br />
    Com a finalidade de reservar quartos de um hotel via e-mail existentes. O projeto foi feito em C# utilizando o ASP.NET, Identity EntityFramework, bootstrap e javascript puro, este programa permite que os usuários adicionem / gerenciem Salas, Usuários e Reserve salas disponíveis em um determinado intervalo de horas..
</p>
