@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Hotel UGB<br />
    <abbr title="Telefone">Telefone:</abbr>
    +55 24 993829-2002 e +55 24 982883-0290
</address>

<address>
    <strong>Suporte:</strong>   <a> sergiojunior116@gmail.com</a><br /><a>glacerda1234@gmail.com</a>
</address>